.jumbotron {
    background-image: url(img/1.jpg);
    background-size: cover;
    height: 1000px;

}

.display-2,
.lead {
    color: white;
}

.jumbotron h3 {
    margin-top: 200px;
    color: white;
}

.carousel-inner {
    margin-top: 150px;
}

.paragraf {
    margin-top: 200px;
    color: white;
}